body{
	background: #e1e5f2;
	
}
.register-container{
  display: flex;
  justify-content: center;

 
}
.register-container-card {
  background-color: white;
  display:flex;
  width: 50%;
  margin-top: 5%;
 
  height: 50vh;
  
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(7, 18, 37, 0.2)
  


}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.register-form-container form button {
	border-radius: 20px;
	border: 1px solid #1F7A8C;
	background-color: #1F7A8C;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
  margin-top: 10px;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.register-form-container form button:active {
	transform: scale(0.95);
}

.register-form-container form button:hover{
	cursor:pointer;
}

.register-form-container{
  width: 50%;

  border-radius: 5px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.register-form-container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
 
	text-align: center;
}

.register-form-container form input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.overlay-container{
  
  background-color: #FF4B2B;

  width:50%;
 border-radius: 5px 0px 0px 5px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1)), url("../../images/imagen.jpeg");
}