.card-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 700px;
    border-radius: 10px;

    margin: 30px;

  background-color: #fff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.card-image-container{
    height: 350px;

}

.card-text-container{
    height: 350px;
}