
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


.Title-header{
	
    background: url('../../../images/playa2.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	
	position: relative;
	overflow: hidden;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 70px), calc(50% + 30px) calc(100% - 30px), 50% 100%, calc(50% - 30px) calc(100% - 30px), 0 calc(100% - 70px));
}

.Title-overlay{
    width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.Title-overlay h1{

    font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;

}

.Title-overlay-text {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}


.Title-overlay button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
.Title-overlay button:hover{
	cursor: pointer;
}