.tripPoints-title{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;
  background: -webkit-linear-gradient(#9f05ff69, #fd5e086b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

  .TripCard{

    cursor:pointer;

  }

  .TripCard:hover{
    
  }