.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
    height: 5vh;
}

.header__logo{
    object-fit:contain;
    height: 40px;
}

.header__groupButtons{
    display:flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}
